// Media Queries 1920, 840, 450 px

@media screen and (max-width: 1920px) {
	.left {
		width: 90%;
		padding-top: 5px;
	}

	.right {
		width: 10%;
	}
}

@media screen and (max-width: 840px) {
	.left {
		width: 85%;
		padding-top: 5px;
	}

	.right {
		width: 15%;
	}

	.accordion_subtitle {
		font-size: 11px;
	}

	.content {
		width: 85%;
	}
}

@media screen and (max-width: 450px) {
	.left {
		width: 75%;
		padding-top: 5px;
	}

	.right {
		width: 25%;
	}
}